<h1>Доступ только по пин-коду</h1>

<div class="col-md-6 buffer-top">
  <%= form_tag('', method: 'post') do |f| %>
    <div class="form-group">
      <%= label :pincode, 'Пин-код' %>
      <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
    </div>

    <div class="actions">
      <%= submit_tag t('activerecord.attributes.event.go'), :class => 'btn btn-primary' %>
    </div>
  <% end %>

  <%= link_to 'На главную', events_path %>
</div>