<div class="row">
  <div class="col-md-6 buffer-top">
    <div class="form-group">
      <%= t('.greeting', recipient: @resource.email) %>
    </div>

    <div class="form-group">
      <%= t('.instruction') %>
    </div>

    <div class="form-group">
      <%= link_to t('.action'), edit_password_url(@resource, reset_password_token: @token) %>
    </div>

    <div class="form-group">
      <%= t('.instruction_2') %>
    </div>

    <div class="form-group">
      <%= t('.instruction_3') %>
    </div>
  </div>
</div>